.hero-section {
  width: 100%;
  height: 250px;
  background: #465def;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 30px;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #fff;
  color: #284ab3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #e0e7ff;
}
